body{
  background-image:url("pic/1.jpg");
  background-size:cover;
  background-attachment: scroll;
  background-repeat:no-repeat;
  }
div{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border: 5px dotted transparent;
background-color: #15022b;
max-width: 360px;
max-height: 360px;
border-radius: 10px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
label{
  color: rgb(231, 231, 231);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
input {
  overflow:hidden;
}


button{
  align-items: center;
  appearance: none;
  background-color: #ff2fee;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
#login {
  pointer-events: none;
  background-color: rgb(39, 39, 39);
  color: white;
}
a{
  background-color: white;
  position: fixed;
  top: 0;
  width: 99%;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgb(110, 110, 163);
  font-size: 125%;
}
marquee{
  color: blueviolet;
  font-size: 17px;
  font-family: fantasy;
  font-style: italic;
}
h1{
  font-family: "Arial Black", sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: black;
  color: white;
  background-image: url(pic/3.jpg);
  background-repeat:no-repeat;
  background-size:inherit;
  background-attachment: scroll;
  color: rgb(255, 255, 255);
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}
