body{
background-image:url("pic/2.jpg");
background-size:cover;
background-attachment: scroll;
background-repeat:no-repeat;
font-style:oblique;
}
h1{
    text-align: center;
    color: lightseagreen;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px blue;
    letter-spacing:2px;
    text-decoration:underline;
    
}
ul{
    text-align:center;
}
li{
    text-align: center;
    text-align: center;
    color: lightseagreen;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 4px 3px 2px blue;
    letter-spacing:2px;
    text-decoration:underline;
}
li a{
    display:block;
    border-radius:30%;
    border-style: groove;
    padding: 10px 20px;
    color:rgb(128, 100, 255);
    border-color: rgb(147, 255, 156);
    text-decoration: underline;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li a:hover{
    background-color: rgb(45, 255, 203);
    color:black;
    opacity: 0.8;
    transition: 1s;
}
  li a:active {
    background-color: #00aeff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  table {
    margin: auto;
    padding: 0px;
    position:-ms-page;
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px darkblue;
    font-size: 125%;
    text-align: center;
    color: lightcoral;
}
td a:active{
background-color: #96dbfc;
box-shadow: 0 5px #666;
transform: translateY(4px);

}
td:hover{
    background-color: rgb(45, 255, 203);
    color:black;
    opacity: 0.8;
    transition: 1s;
}
h2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-family: "Montserrat";
    color: darkslateblue;
}